<div class="description-wrapper">
  <div class="row">
    <div class="col-3 first-col"></div>
    <div class="col-3 ">
      <h2 class="main-heading">{{ 'fd.prices.programs.grand' | translate }}</h2>
    </div>
    <div class="col-3">
      <h2 class="main-heading">{{ 'fd.prices.programs.prime' | translate }}</h2>
    </div>
    <div class="col-3 ">
      <h2 class="main-heading">{{ 'fd.prices.programs.vip' | translate }}</h2>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-3 first-col">{{ 'fd.prices.programs.price' | translate }}</div>
    <div class="col-3">
      7000{{ 'fd.prices.programs.hrn' | translate }}
    </div>
    <div class="col-3">
      10'000{{ 'fd.prices.programs.hrn' | translate }}
    </div>
    <div class="col-3">
      {{ 'fd.prices.programs.from' | translate }} 1200$
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-3 first-col">{{ 'fd.prices.programs.quantityArtists' | translate }}</div>
    <div class="col-3">
      3 - 4 {{ 'fd.prices.programs.artist' | translate }}
    </div>
    <div class="col-3">
      4 - 5 {{ 'fd.prices.programs.artists' | translate }}
    </div>
    <div class="col-3">
      4 - 6 {{ 'fd.prices.programs.artists' | translate }}
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-3 first-col">{{ 'fd.prices.programs.quantityPyro' | translate }}</div>
    <div class="col-3">
     {{ 'fd.prices.programs.over' | translate }} 2500{{ 'fd.prices.programs.hrn' | translate }}
    </div>
    <div class="col-3">
      {{ 'fd.prices.programs.over' | translate }} 5000{{ 'fd.prices.programs.hrn' | translate }}
    </div>
    <div class="col-3">
      {{ 'fd.prices.programs.from' | translate }} 500$
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-3 first-col">{{ 'fd.prices.programs.time' | translate }}</div>
    <div class="col-3">
      {{ 'fd.prices.programs.less' | translate }} 20 {{ 'fd.prices.programs.min' | translate }}
    </div>
    <div class="col-3">
      {{ 'fd.prices.programs.less' | translate }} 30 {{ 'fd.prices.programs.min' | translate }}
    </div>
    <div class="col-3">
      {{ 'fd.prices.programs.less' | translate }} 30 {{ 'fd.prices.programs.min' | translate }}
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-3 first-col">{{ 'fd.prices.programs.acrobatics' | translate }}</div>
    <div class="col-3">
      <fa-icon icon="ban" class="ban"></fa-icon>
    </div>
    <div class="col-3">
       <fa-icon icon="check" class="check"></fa-icon>
    </div>
    <div class="col-3">
      <fa-icon icon="check" class="check"></fa-icon>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-3 first-col">{{ 'fd.prices.programs.specialEffects' | translate }}</div>
    <div class="col-3">
      <fa-icon icon="ban" class="ban"></fa-icon>
    </div>
    <div class="col-3">
      <fa-icon icon="check" class="check"></fa-icon>
    </div>
    <div class="col-3">
      <fa-icon icon="check" class="check"></fa-icon>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-3 first-col">{{ 'fd.prices.programs.styling' | translate }}</div>
    <div class="col-3 programs">
      {{ 'fd.prices.programs.om' | translate }}
    </div>
    <div class="col-3 programs">
      {{ 'fd.prices.programs.om' | translate }} <hr/>
      {{ 'fd.prices.programs.ukr' | translate }} <hr />
      {{ 'fd.prices.programs.hawaii' | translate }} <hr />
      {{ 'fd.prices.programs.dudes' | translate }} <hr />
      {{ 'fd.prices.programs.east' | translate }} <hr />
      {{ 'fd.prices.programs.mexico' | translate }} <hr />
      {{ 'fd.prices.programs.ny' | translate }}
    </div>
    <div class="col-3 programs">
      {{ 'fd.prices.programs.om' | translate }} <hr />
      {{ 'fd.prices.programs.ukr' | translate }} <hr />
      {{ 'fd.prices.programs.hawaii' | translate }} <hr />
      {{ 'fd.prices.programs.dudes' | translate }} <hr />
      {{ 'fd.prices.programs.east' | translate }} <hr />
      {{ 'fd.prices.programs.mexico' | translate }} <hr />
      {{ 'fd.prices.programs.ny' | translate }}
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-3 first-col">{{ 'fd.prices.programs.fireGun' | translate }}</div>
    <div class="col-3">
      <fa-icon icon="ban" class="ban"></fa-icon> <br/>
      ({{ 'fd.prices.programs.editinalPrice' | translate }} + 1000{{ 'fd.prices.programs.hrn' | translate }})
    </div>
    <div class="col-3">
      <fa-icon icon="ban" class="ban"></fa-icon> <br/>
      ({{ 'fd.prices.programs.editinalPrice' | translate }} + 1000{{ 'fd.prices.programs.hrn' | translate }})
    </div>
    <div class="col-3">
      <fa-icon icon="check" class="check"></fa-icon>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-3 first-col">{{ 'fd.prices.programs.highAltitudePyro' | translate }}</div>
    <div class="col-3">
      <fa-icon icon="ban" class="ban"></fa-icon>
    </div>
    <div class="col-3">
      <fa-icon icon="ban" class="ban"></fa-icon>
    </div>
    <div class="col-3">
      <fa-icon icon="check" class="check"></fa-icon> <br/>
      ({{ 'fd.prices.programs.more' | translate }} 500$)
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-3 first-col">{{ 'fd.prices.programs.light' | translate }}</div>
    <div class="col-3">
      <fa-icon icon="ban" class="ban"></fa-icon>
    </div>
    <div class="col-3">
      <fa-icon icon="ban" class="ban"></fa-icon>
    </div>
    <div class="col-3">
      <fa-icon icon="check" class="check"></fa-icon> <br/>
      ({{ 'fd.prices.programs.lightTypes' | translate }})
    </div>
  </div>

</div>
