<div class="background">
<!--  <div class="container">-->
<!--    <h1>{{ 'fd.title.long' | translate }}</h1>-->
<!--    <div class="actions">-->
<!--      <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../feature-list">-->
<!--        {{ 'fd.menu.features' | translate }}-->
<!--      </a>-->
<!--      <a mat-raised-button class="actions-main" color="accent" routerLink="../examples" [ngClass]="routeAnimationsElements">-->
<!--        {{ 'fd.menu.examples' | translate }}-->
<!--      </a>-->
<!--      <a mat-raised-button class="actions-main" color="warn" routerLink="../settings" [ngClass]="routeAnimationsElements">-->
<!--        {{ 'fd.about.change-theme' | translate }}-->
<!--      </a>-->
<!--      <a href="https://www.buymeacoffee.com/tomastrajan" target="_blank">-->
<!--        <img [ngClass]="routeAnimationsElements" src="https://cdn.buymeacoffee.com/buttons/v2/default-red.png" alt="Buy Me A Coffee" height="42">-->
<!--      </a>-->
<!--      <br>-->
<!--      <span [ngClass]="routeAnimationsElements">{{ 'fd.about.check-blogs' | translate }}</span>-->
<!--      <br>-->
<!--      <a mat-raised-button-->
<!--         [ngClass]="routeAnimationsElements"-->
<!--         rel="noopener noreferrer"-->
<!--         target="_blank"-->
<!--         href="https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1">-->
<!--         <fa-icon [icon]="['fab','medium-m']"></fa-icon>-->
<!--        Material Theming-->
<!--      </a>-->
<!--      <a mat-raised-button-->
<!--         [ngClass]="routeAnimationsElements"-->
<!--         rel="noopener noreferrer"-->
<!--         target="_blank"-->
<!--         href="https://medium.com/@tomastrajan/6-best-practices-pro-tips-for-angular-cli-better-developer-experience-7b328bc9db81">-->
<!--         <fa-icon [icon]="['fab','medium-m']"></fa-icon>-->
<!--        Angular Cli Tips-->
<!--      </a>-->
<!--      <a mat-raised-button-->
<!--         [ngClass]="routeAnimationsElements"-->
<!--         target="_blank"-->
<!--         rel="noopener noreferrer"-->
<!--         href="https://medium.com/@tomastrajan/object-assign-vs-object-spread-in-angular-ngrx-reducers-3d62ecb4a4b0">-->
<!--         <fa-icon [icon]="['fab','medium-m']"></fa-icon>-->
<!--        Ngrx Typescript Tips-->
<!--      </a>-->
<!--      <a mat-raised-button-->
<!--         [ngClass]="routeAnimationsElements"-->
<!--         target="_blank"-->
<!--         rel="noopener noreferrer"-->
<!--         href="https://medium.com/@tomastrajan/how-to-style-angular-application-loading-with-angular-cli-like-a-boss-cdd4f5358554">-->
<!--         <fa-icon [icon]="['fab','medium-m']"></fa-icon>-->
<!--        App Loading Style-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
  <div class="mainSlider">
    <div class="wrapper">
      <a href="" ><img class="logo" src="../../../../assets/logo.png"> </a>

      <div class="clouds">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="moon"></div>
      <div class="speach">
        <div class="speach_bg">
          <div class="wrapper_1"><div class="top_part"></div></div>
          <div class="wrapper_2"><div class="bottom_part"></div></div>
          <div class="wrapper_3"><div class="arrow"></div></div>
        </div>
        <p>Заказать ФаерШоу?</p>

        <div id="phone"><a href="tel:0983320640">098 33 20 640</a></div>
      </div>
      <div class="tarzan"></div>
      <div class="wood">
        <ul class="social">
          <li><a href="https://www.instagram.com/fierydreamshow/"></a></li>
          <li><a href="https://www.facebook.com/groups/fierydream.vn.ua/"></a></li>
          <li><a href="https://plus.google.com/u/0/b/104227155905182321468/+Fierydream/posts"></a></li>
          <li><a href="https://www.youtube.com/c/Fierydream"></a></li>
          <li><a href="/blog/index.php/partnery">ПАРТНЕРЫ</a></li>
        </ul>
      </div>
      <div class="mailBox">
        <a href="mailto:FireShow@fierydream.com" class="mailInBox"> FireShow@FieryDream.com </a>
        <a href="tel:+380983320640" class="telInBox"> 098 33 20 640 </a>
      </div>
      <div class="navHelp">
        <div class="arrowNav down"></div>
        <div class="arrowNav down"></div>
        <div class="arrowNav down"></div>
        <div class="arrowNav down"></div>
      </div>
    </div>
  </div>
</div>


