<div class="container">
    <mat-tab-group>
    <mat-tab [ngClass]="routeAnimationsElements" label="{{ 'fd.prices.title' | translate }}">
      <div class="row main-head-row">
        <div class="col-md-9 col-sm-12" [ngClass]="routeAnimationsElements">
          <fd-programs-detail (onGalleryTypeChanged)="GalleryTypeChanged($event)"></fd-programs-detail>
        </div>
        <div class="col-md-3 photos-side" [ngClass]="routeAnimationsElements">
          <fd-programs-preview [galaryType]="programType"></fd-programs-preview>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'fd.prices.gallery' | translate }}">Відосики, фото та опис</mat-tab>
  </mat-tab-group>
</div>
