<div class="container" [ngClass]="routeAnimationsElements">
    <mat-tab-group>
    <mat-tab label="{{ 'fd.prices.title' | translate }}">
      <div class="row main-head-row">
        <div class="col-md-9 col-sm-12">
          <fd-programs-detail></fd-programs-detail>
        </div>
        <div class="col-md-3 photos-side">
          <fd-programs-preview></fd-programs-preview>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'fd.prices.programs.styles' | translate }}"> Відосики та опис </mat-tab>
    <mat-tab label="{{ 'fd.prices.gallery' | translate }}"> Галерея</mat-tab>
  </mat-tab-group>
</div>
