<div class="main-head-row">
  <div class="row">
    <h2 class="main-heading">{{ 'fd.prices.programs.om' | translate }}</h2>

    <div class="content">
      {{ 'fd.prices.programs.om.detail' | translate }}
    </div>
    <div class="content">
      {{ 'fd.prices.programs.om.detail1' | translate }}
    </div>
    <div class="content">
      {{ 'fd.prices.programs.om.detail2' | translate }}
    </div>
    <div class="content">
      {{ 'fd.prices.programs.om.detail3' | translate }}
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/qKvXx_YBldk" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <h2 class="main-heading">{{ 'fd.prices.programs.ukr' | translate }}</h2>
    <div class="content">
      {{ 'fd.prices.programs.ukr.detail' | translate }}
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/hEhtu_T9AWY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <h2 class="main-heading">{{ 'fd.prices.programs.hawaii' | translate }}</h2>
    <div class="content">
      {{ 'fd.prices.programs.hawaii.detail' | translate }}
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/gZexJwe962U" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <h2 class="main-heading">{{ 'fd.prices.programs.dudes' | translate }}</h2>
    <div class="content">
      {{ 'fd.prices.programs.dudes.detail' | translate }}
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/YRTME5iD08Y" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <h2 class="main-heading">{{ 'fd.prices.programs.vip' | translate }}</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/FPnOcA6K1Hk" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
  </div>
  <mat-divider></mat-divider>
  <div class="row last-row">
    <h2 class="main-heading">{{ 'fd.prices.programs.ny' | translate }}</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/hhzGoRh5C2Y" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>


  </div>

</div>
